.header-title{display: none !important;}
section#support-form {
    padding: 100px 0;
    text-align: left;
    max-width: 585px;
    width:100%;
    margin: 0px auto;
    background: #222e37;
    border-radius:40px;
    font-family: Consolas, monaco, monospace;
}
form#flkSupportForm {
    padding: 10px 70px;
    color: #fff;
    font-family: Consolas, monaco, monospace;
}
section#support-form .lead{
    font-size: 16px;
    line-height: normal;
    font-family: Consolas, monaco, monospace;
    padding: 5px;

}
.success-text{color: #4cd137;}
section#support-form  input[type="text"],
section#support-form  input[type="email"],
section#support-form  textarea,
section#support-form  select {
    width: 100%;
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px dotted;
    vertical-align: text-bottom;
    cursor: pointer;
    margin: 0px auto;
    font-family: Consolas, monaco, monospace;
    color:#fff;
}
section#support-form input[type=checkbox], 
section#support-form input[type=radio] {
    line-height: normal;
}
section#support-form .form-hor .group-form label {
    position: relative;
    display: block;
    font-family: Consolas, monaco, monospace;
}
section#support-form .form-inline .group-form label > span {
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 12px;
    color: #bdc3c7;
    opacity: 1;
}
section#support-form .submit.button{
    font-size: 28px;
    color: #999 ;
    border: 1px dotted solid;
    background-color: transparent;
    border-radius: 0;
}
section#support-form #rent-apartment{display: none;}
section#support-form #choose{display: none;}
section#support-form #fullName{display: none;}
section#support-form #emailAddress{display: none;}
section#support-form #phoneNumber{display: none;}
section#support-form #objectIdappartments{display: none;}
section#support-form #idonotknowText{display: none;}
section#support-form #objectidappartmentOther{display: none;}
section#support-form #longWants{display: none;}
section#support-form #somethingAbouts{display: none;}
section#support-form #StaisfySectionText{display: none}
section#support-form #general-question{display: none;} 
section#support-form #faqSection{display: none;}
section#support-form #questionNo{display: none;}
/* section#support-form #questionYes{display: none;} */
section#support-form #fullNameOne{display: none;}
section#support-form #emailAddressOne{display: none;}
section#support-form #phoneNumberOne{display: none;}
section#support-form #helpYou{display: none;}
section#support-form #StaisfySection{display: none;}
#ThanksOne, #ThanksTwo{display: none;}
.tab div {display: none;}
.tab div:target { display: block;}
.group-form{padding: 5px;}

/*Add custom cursor so it auto inherits font styles*/
.typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
    display: none;
}
button[disabled], html input[disabled] {
    color: #ccc6c6 !important;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.form-control-msg{
    display:none
}
.has-error .form-control-msg{
    display:block
}
.js-show-feedback{
    display:block
}

.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover
{
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus{
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }
